<!DOCTYPE html>
<html>
<head>
    <title>paywall key generator</title>
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: white;
        }
        .key {
            font-family: monospace;
            font-size: 24px;
            color: black;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div class="key">{{ key }}</div>
</body>
</html>